@charset "utf-8";

html {
    font-size: 10px;
}


html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,img {
    margin: 0;
    padding: 0
}

html,
body {
    height: 100%;
    font-family: 微软雅黑;
}

.navbar{
    margin-bottom: 0;
}

.mains .secone {
    margin-top: 1.5rem;
}


.descriptionone p,
.descriptiontwo p,
.descriptionthr p,
.descriptionfor p,
.descriptionfiv p {
    line-height: 3rem;
    margin-top: 1.5rem;
}


/*.bgimgone{
	width: 100%;
	height: 300px;
}*/

.bgimgone {
    margin-top: 5rem;
}

.bgimgone .container-fluid {
    width: 100%;
    height: 40rem;
    background: url(../img/bgone.jpg) no-repeat fixed center center;
    background-origin: 100% 100%;
}

.sectwo {
    margin-top: 5.5rem;
}

.secone p,
.sectwo p {
    font-size: 1.5rem;
}

.sectwo .container>.row {
    margin-bottom: 5.5rem;
}

footer {
    background-color: #3F8DBF;
    color: #fff;
}

footer a {
    color: #fff;
}

footer a:hover {
    text-decoration: none;
    color: #F6FC45;
}

footer .container>img {
    margin-top: .5rem;
}

footer .container ul li {
    display: inline-block;
    margin-left: 2rem;
}

span.glyphicon.glyphicon-search {
    position: absolute;
    top: 0.7rem;
    left: 2rem;
    font-size:2rem;
    color: #F7F4F4;
}

.cent .container .row .col-md-5.col-xs-12.text-center {
    margin-bottom: 2rem;
}

.cent .container .row:first-Child {
    margin-bottom: 2rem;
}

.cent>.container>.row.row-two{
	width: 100%;
	margin-left: .2rem;
}

#chip{
	padding-left: -20rem;
}

#chdiv{
        padding-top: 10rem;
        background: #fafbfc;
        border:1px solid #e1e4e8;
        box-shadow: inset 0 0 10px rgba(27,31,35,0.05);
        border-radius:3px;
}

.cent>.container>.row.row-two>.col-md-12{
    height: 20rem;
    display: none;
}

.cent>.container>.row.row-two>.col-md-12>.glyphicon-info-sign{
    display: block;
    margin: 0 auto;
    font-size:5rem;
    text-align: center;
    color: #a3aab1;
    margin: 0 auto;
}

.cent>.container>.row.row-two>.col-md-12>p{
    display: block;
    margin: 2.5rem auto;
    text-align: center;
}

.init-btn-class {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.two-active {
    background: #EEE;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    border-color: #ccc;
}


#ch>p{
    text-align: center;
    margin-top: 2rem;
}


.footer-lg .container .row .col-md-4 a{
    color: #959da5;
    text-decoration: none;
}

.footer-lg>.container .row .ftr-right{
    float: right;
}


.mainsshop{
    background: #2f363d url(../img/bgmain.svg);
    padding-top: 6rem;
}

.mainsshop h1{
    color: #fff;
    font-size: 5rem;
}

.mainsshop p{
    color: #969A9D;
    font-size: 2.5rem;
}

.mainsshop>.container>.row>.centblkone{
    background: url(../img/centblkone.png);
}

.mainsshop>.container>.row>.centblktwo{
    background: url(../img/centblktwo.png);
}
.mainsshop>.container>.row>.centblkthr{
    background: url(../img/centblkthr.png);
}
.mainsshop>.container>.row>.centblkfor{
    background: url(../img/centblkfor.png);
}

.mainsshop>.container>.row{
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.mainsshop>.container>.row>div{
    padding-bottom:2rem;
}

.mainsshop>.container>.row>.centblkone>div,.mainsshop>.container>.row>.centblktwo>div,.mainsshop>.container>.row>.centblkthr>div,.mainsshop>.container>.row>.centblkfor>div{
    width: 96px;
    height: 96px;
    border-radius: 3px;
}


.market{
    margin-top: 5rem;
}

.market .container .row .col-md-12 .nav-stacked a{
    color: #586069;
}

.market>.container>.row>.col-md-7>.row>.col-md-6>.left-img{
    width:56px;
    height:56px;
    border-radius: 50%;
    background-color: #fc2b6a;
    line-height: 56px;
    box-shadow: 0 1px 5px rgba(27,31,35,0.15);
}

.market>.container>.row>.col-md-7>.row>.sm-xs-top{
    margin-top: 1rem;
}

.market>.container>.row>.col-md-7>.row>.col-md-6>.left-img>img{
    height:76%; 
    display: table-cell;
    margin: 0 auto;
    padding-top:.6rem;
}

.market>.container>.row>.col-md-7{
    padding-left: 2rem;
    border-left:1px solid #e1e4e8;
}

.market>.container>.row>.col-md-7 .right-wite{
    width:80%;
    float: right;
    line-height: 1.8rem;
}

.market>.container>.row>.col-md-7>.row{
    margin-bottom: 3rem;
}

.market>.container>.row>.col-md-7>.row>h4{
    margin: 2rem 0;
    font-size: 1.6rem;
    color: #586069;
}

.market>.container>.row>.col-md-7>.row>.col-md-6:last{
    margin-bottom: 5rem;
}






/*当屏幕小于990px时*/

@media screen and (max-width: 992px) {
    footer>.container {
        padding-top: 3rem;
    }

    .cent>.container>.pull-btn {
        margin: 0 auto;
    }

    .footer-lg .container .row .ftr-right{
        clear: both;
        text-align: center;
    }

    .market .container .row .mg-bottom {
        margin-bottom: 3rem;
    }

    #chip{
        margin-bottom: 1rem;
    }

    #formtop span{
        margin: .5rem 0 0 .5rem;
    }

    .footer-lg .container .row ul{
      text-align: center;
    }

}


@media screen and (max-width: 767px) {

    html {
        font-size: 8px;
    }

    footer .container>ul.list-unstyled {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    footer .container>img {
        display: block;
        margin: 0 auto;
    }

    footer .container>ul>li {
        display: inline-block;
        margin-top: .8rem;
        margin-left: 1.8rem;
        line-height: 2rem;
    }

}



/*当屏幕大于等于768px时*/

@media screen and (min-width: 768px) {
    footer .container>ul.list-unstyled {
        margin-top: 1.8rem;
        float: right;
    }

    footer .container>img {
        float: left;
    }
}


