@charset "utf-8";

html,body{
	height: 100%;
	font-family: 微软雅黑;
}

.navbar-header img{
	height:50px;
}

.navbar-default{
	background: #fff;
}

.navbar-default .container{
	position: relative;
}

#bs-example-navbar-collapse-1{
	position: absolute;
	width: 100%;
	background: #fff;
	z-index: 1;
}


.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #fff;
}

.rotation{
	margin-top: -20px;
}

.carousel-control.left,.carousel-control.right{
	background-image: none;
}

.mains .secone{
	margin-top: 15px;
}


.descriptionone p,.descriptiontwo p,.descriptionthr p,.descriptionfor p,.descriptionfiv p{
	line-height: 30px;
	margin-top: 15px;
}

/*.bgimgone{
	width: 100%;
	height: 300px;
}*/

.bgimgone{
	margin-top: 50px;
}

.bgimgone .container-fluid{
	width: 100%;
	height:40rem;
	background: url(../img/bgone.jpg) no-repeat fixed center center;
	background-origin:100% 100%;
}

.sectwo{
	margin-top: 55px;
}

.secone p,.sectwo p{
	font-size: 1.6rem;
}

.sectwo .container>.row{
	margin-bottom: 55px;
}

footer{
	background-color:#3F8DBF;
	color: #fff;
}

footer .container>img{
	margin-top: 5px;
}

footer .container ul li{
	display: inline-block;

}

@media screen(min-width: 768px){
	footer .container>img{
		float: left;
}
}



@media screen and(max-width: 990px){
	footer>.container{
		padding-top: 30px;
	}
}

@media screen and (max-width: 768px){
	footer .container>ul.list-unstyled{
		display: block;
		width: 90px;
		border:1px solid red;
		margin: 0 auto;
	}
}

@media screen and (max-width: 768px){
	footer .container>img{
		display: block;
		margin:0 auto;
	}
}

@media screen and (min-width: 768px){
	footer .container>ul.list-unstyled{
		margin-top: 18px;
		float: right;
	}
}
@media screen and (max-width: 768px){
	footer .container>ul>li{
		display: inline-block;
		margin-top: 8px;
		margin-left: 18px;
		line-height: 20px;
}
}


